<!DOCTYPE html>
<html>
  
  <%- include('./head.ejs') %>

  <body>
    <h1>
      <%= title %>
  </h1>

    <ul>
        <% personal.forEach(element => { %> <!-- busca personas porque en el array del controlador se llama asi -->
           
          <li>
             <%= element.nombre %> 
          </li> <!--etiquetas out-->
          
        <% }) %>
    </ul>
  </body>
</html>